@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-1 {
  text-align: center;
  font-size: x-large;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  /* text-center text-2xl my-10 */
}

.header-2 {
  text-align: left;
  font-size: 30px;
  color: lightblue;
}

.link {
  color: blue;
  margin: 10px 0px;
}

.sub-header-1 {
  color: blue;
  font-size: 20px;
  margin: 15px 0px 5px 0px;
}


.skill-style-0 {
  color: black;
  font-size: 17px;
  display: inline-block;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-right: 40px;
}

.skill-style-0 img {
  align-content: center;
  justify-content: center;
  margin: auto;
  max-height: 60px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}