.project {
    padding-left: 100px;
    padding-right: 100px;
}

.project h1 {
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.icon {
    display: inline-block;
    margin-right: 10px;
}

.icon img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid #999;
}

.desc {
    width: 90%;
    vertical-align: top;
    display: inline-block;
}

.projectItem {
    margin-bottom: 10px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
}