.container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.timespan {
    grid-column: span 1;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    color: #8d8989;
    width: 200px;
}

.icon {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #8d8989;
    position: relative;
}

.icon img {
    width: 75px;
    height: 75px;
    margin-left: 5px;
    margin-bottom: 30px;
}

.dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: #8d8989;
    border: 2px solid white;
}

.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 17px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.desc h1 {
    font-size: 18px;
}

.desc a {
    color: blue;
}

.desc li {
    margin-left: 20px;
}

.desc p {
    margin-bottom: 10px;
}